.new-link {
    background-color: #a892ee;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-link__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.new-link__control {
    display: flex;
    flex-direction: column;
}

.new-link__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.new-link__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
}

.new-link__actions {
    text-align: right;
}

.new-link button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
}

.new-link button:hover,
.new-link button:active {
    background-color: #510674;
    border-color: #510674;
}
