.link-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: #4b4b4b;
}

.link-item__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
    margin: 0 2rem;
}

.link-item .link-item__description h2 {
    color: #a892ee;
    font-size: 1.5rem;
    font-weight: 700;
    flex: 1;
    text-shadow: 0px 0px 4px #40005d;
}

.link-item__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}

.link-item__buttons .link-item__button {
    font-size: 1.5rem;
    font-weight: bold;
    color: #40005d;
    background-color: #a892ee;
    border: 1px solid #40005d;
    padding: 0.75rem;
    border-radius: 12px;
    cursor: pointer;
}

@media (min-width: 580px) {
    .link-item__description {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex: 1;
    }

    .link-item h2 {
        font-size: 1.25rem;
    }

    .link-item__button {
        font-size: 1.25rem;
        padding: 0.5rem 1.5rem;
    }
}
